//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^mariesmassagetramore.com[nc]
RewriteRule ^(.*)$ http://www.mariesmassagetramore.com/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(jpg|png|css|js)$">
Header set Cache-Control "max-age=0"
</FilesMatch>

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
 